body{
    background: grey;
    font-family: roboto;
    text-align: center;
}

h1{
    color: yellow;
}

div{
    margin: 10px;
}

.kotak{
    background: violet;
    width: 100px;
    height: 100px;
    transition: width 1s;
    -webkit-transition: width 1s;
}

.kotak:hover{
    width: 300px;
}

.kotak2{
    background: violet;
    width: 100px;
    height: 100px;
    transition: width 1s, height 2s;
    -webkit-transition: width 1s, heght 2s;
}

.kotak2:hover{
    width: 300px;
    height: 300px;
}