body{
    margin: 0;
}

header{
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-color: #1e4d99;
}

.header a{
    font-family: Arial, sans-serif;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.header a.namacompany{
    font-size: 25px;
    font-weight: bold;
}

.header-right{
    float: right;
}

.header-right a:hover{
    background-color: #1a4486;
    color: white;
}

ul{
    font-family: Arial, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1e4d99;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #1a4486;
}

.active{
    background-color: #146795;
}

#overlay{
    font-family: Segoe UI, sans-serif;
    background: #1e4d99; 
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 4px 3px 2px rgba(0, 0, 0);
}

#container{
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
    width: 100%px;
    height: 1200px;
}

#text-judul{
    font-family: Segoe UI, sans-serif;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    text-shadow: 4px 4px 4px rgba(255, 255, 255);
}

#logo{
    text-align: center;
}

#text{
    font-family: Geneva, sans-serif;
    text-align: justify;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 30px;
    color: white;
    text-shadow: 1px 5px 6px rgba(0,0,0);
}

#text2{
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    text-shadow: 5px 2px 3px rgba(255, 255, 255);
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 500px;
    height: 400px;
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid red;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: red;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid red;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: red;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: red;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: red;
}

#radio4:checked ~ .navigation-auto .auto-btn3{
    background: red;
}

footer{
    font-family: Arial, sans-serif;
    background: #2b313b;
    padding: 9px;
    text-align: center;
    color: white;
}

footer a{
    margin-left: 10px;
    float: left;
}